body {
  color: #333333;
  font-family: "arial";
  max-width: 650px !important;
  margin: 0 auto !important;
  padding: 0 16px !important;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-bottom: 95px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  margin-right: 16px;
}

header li:hover {
  text-decoration: underline;
}

.portrait {
  width: 250px;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
  width: 300px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #747474;
  color: white;
  padding: 8px;
}

button:hover {
  background: #666666;
}

.forecast-container {
  border: 1px solid #666666;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.5);
}

.visible {
  display: block;
}

.not-visible {
  display: none;
}

.forecast-summary {
  list-style-type: none;
  padding: 12px 5px 0 5px;
}

.currently-col--left,
.currently-col--right {
  vertical-align: middle;
  justify-content: left;
  margin: 25px 0px;
}

.currently-col--left ul,
.currently-col--right ul {
  list-style-type: none;
  overflow: hidden;
}

.currently-col--left li {
  display: inline-block;
}

.weekly-col ul {
  display: inline-block;
  list-style-type: none;
  overflow: hidden;
}
